body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #44457b;
	background-color: #ebebeb; 
}
#orange-shape{
	position: relative;
	padding: 15px;
	float: left;
	color: orange;
	background: #e94f2b;
	/*width: 50%;*/
	width: 3.65%;
	height: 100%;
	transform: translate(-105px) skewX(-30deg);
}

.container a{
	margin-left: 0in;
	/*transform: skewX(30deg);*/

}

.container img{
	width: 45px;
	height: 60px;
	/*margin-left: 0.1in;*/
}

nav{
	background: #ebebeb;
	line-height: 2.5;
	/*opacity: 0.9;*/
}

#navbarToggler .navbar-nav .nav-item .nav-link{
	color: #44457b;
	transition: 700ms;
	border-bottom: 1px solid transparent;
}

#navbarToggler .navbar-nav .nav-item .nav-link:hover{
	color: #e94f2b;
	/*text-decoration: underline;*/
	transition: 0.7s;
	border-color: #e94f2b; 
}

.navbar .dropdown-menu{
	transform: skewX(-10deg);
	left: -43px;
}

#purple-shape{
	display: inline-block;
	padding: 15px;
	left: 18.8%;
	position: relative;
	background: #44457b;
	width: 37px;
	height: 9.75%;
	transform: translate(-105px) skewX(-28deg);
}

.main-section{
	margin-top: 5em;
	padding: 5em;
}

@media only screen   
and (min-width: 1606px)  
and (max-width: 1920px)  {
/*and (max-width: 1605px)  {*/
	#orange-shape{
		right: 3.35in;
	}
	#purple-shape{
		left: 5.5in;
	}
}

@media only screen   
and (min-device-width : 1367px)   
and (max-device-width : 1605px) {
	#orange-shape{
		right: 1.7in;
	}
	#purple-shape{
		left: 3.85in;
	}
}

@media only screen   
and (min-width: 1281px)   
and (max-width: 1366px)  {
	#orange-shape{
		right: 36px;
	}
	#purple-shape{
		left: 242px;
	}
}

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px) {
	#orange-shape{
		width: 4.65%;
		right: -34px;
	}
	#purple-shape{
		width: 45px;
		left: 179px;
	}

	.route1 div:nth-child(2) div img{
		height: 100% !important;
	}

	.route2 div img{
		height: 100% !important;
	}

	.route3 div:nth-child(2){
		margin-top: 7px !important;
	}
	.route3 div:nth-child(2) img{
		height: 93% !important;
		margin-top: 0 !important;
	}